*, *::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


@media (min-width: 640px){
    html { font-size: 112%; }

    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}


.banner{
    display: inline;
    position: relative;
}

h1{
    float: right;
    padding: 40px;
    display: inline;
    color: black;
}


.close{
    float: right;
}

.modal-title{
    display: inline;
}

.chat-navigate{
    background-image: url("../assets/images/shag.jpg");
    color: white;
    font-weight: 600;
    padding: 50px;
}

.chat-view{
    background-color: gray;
    padding: 50px;
    margin-left: 10px;
}

ul {
    margin-bottom: 0px;
    padding: 0;
}

ul li {
    padding-bottom: 5px;
}

#newRoomModal {
    color: black;
    width: 600px;
}

@media (min-width: 1024px){
    html {font-size: 120%; }
}

.newRoomBtn{
    background-color: green;
    margin-top: 20px;
}

html{
    height: 100%;
    font-size:100%;
}

body {
    font-family: 'Open Sans', Arial;
    color: white;
    padding-bottom: 200px;
}


.clearfix::before,
.clearfix::after{
    content: " ";
    display: table;
}

.clearfix::after{
    clear: both;
}
