<div  id="newRoomModal" class="modal modal-dialog fade" data-keyboard ="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Create new room</h3>
                <button class="close" type="button" data-dismiss='modal' ng-click="modal.cancel()"><i class="ion-close-round"></i></button>

            </div>
            <div class="modal-body" id="modal-body">
                <label for="newRoom">Name of new room:</label>
                <input type="text" id="newRoom" ng-model="newRoomName">
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" ng-click="home.create(newRoomName)" data-dismiss="modal">Create</button>
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container chatContainer">
        <div class="row">


            <div class="col-sm-8 col-xs-12 pull-right chat-view">
                <h1 ng-show="home.activeRoom == null">Select or create a chat room to begin.</h1>
                <h1 ng-show="home.activeRoom !== null">Welcome to "{{home.activeRoom.name}}" Chat!</h1>
                <div class="chat-window">
                    <div class="chat-messages" ng-if="home.activeRoom !== null" ng-repeat="message in home.activeRoomMessages">
                        <p class="chat-contents chat-messages" >{{message.content }}</p>
                        <p class="chat-messages chat-user-info">{{message.username}} {{message.sentAt}}</p>
                    </div>
                </div>
                <div class="container">
                    <div class="send-message row">
                        <textarea class="message-entry col-sm-9" name="messageEntry" rows="3" cols="60" placeholder="get chatting!" ng-model="newMessage"></textarea>
                        <button type="button" class="btn btn-default message-send col-sm-2" ng-click="home.sendMessage(newMessage)" >Send</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-12">
                <img id="mustChatLogo" align="middle" src="../assets/images/oldTV.png" alt="Must Chat TV">
                <section class="chat-navigate">
                    <h2>Chat Rooms</h2>
                    <div class="listRooms">
                        <ul class="chatrooms" ng-repeat="room in home.chatRooms" >
                            <li class="roomName" ng-click="home.selectedRoom(room)">{{ room.name }}</li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-block newRoomBtn" data-toggle="modal" data-target="#newRoomModal">Add New Room</button>
                </section>
            </div>
        </div>
    </div>


