<section class="hero-content">

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="/assets/images/oldTV.png">
                <section class="rooms-list">
                    <h2>Chat Rooms</h2>
                    <ul class="chatrooms" ng-repeat="room in home.chatRooms" >
                        <li class="roomName">{{room.name }}</li>
                    </ul>
                </section>
            </div>
            <div class="col-sm-9">
                <p>chat messages here</p>
            </div>
        </div>

    </div>


</section>
